
@font-face {
  font-family: 'Jost-Medium';
  src: url('../fonts/theme/Jost-Medium.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost-Regular';
  src: url('../fonts/theme/Jost-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansHK-Light';
  src: url('../fonts/theme/NotoSansHK-Light.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansHK-Thin';
  src: url('../fonts/theme/NotoSansHK-Thin.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/theme/OpenSans-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/theme/Roboto-Bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/theme/Roboto-Light.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/theme/Roboto-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('../fonts/theme/Ubuntu-Bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu-Light';
  src: url('../fonts/theme/Ubuntu-Light.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('../fonts/theme/Ubuntu-Medium.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('../fonts/theme/Ubuntu-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-JostMedium: 'Jost-Medium', sans-serif;
  --font-JostRegular: 'Jost-Regular', sans-serif;
  --font-NotoSansHKLight: 'NotoSansHK-Light', sans-serif;
  --font-NotoSansHKThin: 'NotoSansHK-Thin', sans-serif;
  --font-OpenSansRegular: 'OpenSans-Regular', sans-serif;
  --font-RobotoBold: 'Roboto-Bold', sans-serif;
  --font-RobotoLight: 'Roboto-Light', sans-serif;
  --font-RobotoRegular: 'Roboto-Regular', sans-serif;
  --font-UbuntuBold: 'Ubuntu-Bold', sans-serif;
  --font-UbuntuLight: 'Ubuntu-Light', sans-serif;
  --font-UbuntuMedium: 'Ubuntu-Medium', sans-serif;
  --font-UbuntuRegular: 'Ubuntu-Regular', sans-serif;
}
