html {
  scroll-behavior: smooth;
  margin-top: 0 !important;
}

body {
  font-family: var(--font-RobotoRegular);
}

#page {
  overflow-x: hidden;
}

.container {
  max-width: 1920px;
  width: 100%;
  padding-right: 40px;
  padding-left: 60px;
  margin-right: auto;
  margin-left: auto;
}

a.view-cart.active {
  display: none !important;
}

.ins-content .ins-cart-inner.ins-cart-step .ins-cart-btns a,
.ins-content .ins-cart-btns a.active {
  background-color: #890009 !important;
}

.ins-checkout-modern .ins-cart-item-quantity .qty {
  border: 0.2px solid #890009 !important;
}